/* 
### Primary

- Red: hsl(1, 90%, 64%)
- Blue: hsl(219, 85%, 26%)

### Neutral

- White: hsl(0, 0%, 100%)
- Very light grayish blue: hsl(210, 60%, 98%)
- Light grayish blue 1: hsl(211, 68%, 94%)
- Light grayish blue 2: hsl(205, 33%, 90%)
- Grayish blue: hsl(219, 14%, 63%)
- Dark grayish blue: hsl(219, 12%, 42%)
- Very dark blue: hsl(224, 21%, 14%)
*/

@font-face {
  font-family: PlusJakartaSans;
  src: url("fonts/static/PlusJakartaSans-Medium.ttf");
  font-weight: regular;
}
@font-face {
  font-family: Monsterrat;
  src: url("fonts/static/PlusJakartaSans-ExtraBold.ttf");
  font-weight: bolder;
}
html {
  background-color: hsl(211, 68%, 94%);
  font-size: 62.7%;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: Monsterrat;
}
.main {
  width: 100%;
  max-width: 60rem;
  margin-left: auto;
  margin-right: auto;
  background-color: hsl(0, 0%, 100%);
  margin-top: 5rem;
  border-radius: 1rem;
}
.main header {
  display: flex;
  justify-content: space-between;
  padding: 2rem 2rem;
}
.main header h1 {
  flex: 0 0 30%;
  display: flex;
  gap: 1rem;
  align-items: center;
  font-size: 1.6rem;
  letter-spacing: -0.5px;
}
.main header button {
  border: none;
  background-color: hsl(0, 0%, 100%);
  color: #495057;
  cursor: pointer;
}
.main header button:hover {
  text-decoration: underline;
}
.count {
  display: inline-block;
  width: 3rem;
  height: 2rem;
  background-color: hsl(219, 85%, 26%);
  color: hsl(0, 0%, 100%);
  border-radius: 0.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  padding: 0 0.5rem;
}
/* notification section */
.notifications {
  padding: 2rem 2rem;
}
.notification {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  margin-bottom: 0.7rem;
  /* position: relative; */
  background-color: hsl(211, 68%, 94%);
}
.notification:hover {
  /* border: solid hsl(205, 33%, 90%) 1px; */
  cursor: pointer;
  box-shadow: inset 0 0 0 1px hsl(205, 33%, 90%);
}
.notification h3 {
  font-size: 1.2rem;
  font-weight: normal;
  color: hsl(219, 14%, 63%);
  margin-bottom: 0.4rem;
  flex: 0 0 auto;
  padding-right: 1.2rem;
}
.comm-pic {
  display: inline-block;
}
.read {
  background-color: hsl(0, 0%, 100%);
}
.user {
  display: inline-block;
  margin-right: 0.25rem;
  color: hsl(224, 21%, 14%);
}
.post {
  color: hsl(219, 12%, 42%);
}
.dot {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  background-color: hsl(1, 90%, 64%);
  border-radius: 50%;
  margin-left: 0.2rem;
}
.notification.read .dot {
  display: none;
}
.time-stamp {
  font-size: 1rem;
  color: hsl(219, 14%, 63%);
}
.group {
  color: hsl(219, 85%, 26%);
}
.message {
  display: flex;
  align-items: flex-start;
}
.message-text {
  font-size: 1.2rem;
  border: solid hsl(205, 33%, 90%) 1px;
  border-radius: 0.5rem;
  padding: 1rem 1.5rem;
  color: hsl(219, 14%, 63%);
  margin-top: 1rem;
  line-height: 1.6rem;
  word-spacing: 0.1rem;
}
@media (max-width: 750px) {
  html {
    font-size: 55%;
  }
  .main {
    width: 100%;
    height: 100vh;
    margin: 0 auto;
  }
}
